MESA_practical_1/AST1410 (Winter 2026) MESA Practical 1.pdf
MESA_practical_2/AST1410 (Winter 2026) MESA Practical 2.pdf
MESA_practical_3/AST1410 (Winter 2026) MESA Practical 3.pdf
MESA_practical_4/AST1410 (Winter 2026) MESA Practical 4.pdf

MESA_practical_1/tutorial/star

MESA_practical_2/mla_1_star/star
MESA_practical_2/mla_2_star/star
MESA_practical_2/mla_4_star/star
MESA_practical_2/plot.ipynb
